/* Styles from SuffixTreeJS */
.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: #bbb;
  stroke-width: 3px;
}
.node text {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#viz-area {
    overflow: scroll;
}

.ngram-matrix-visualization-uncompressed {
    text-align: center;
    width: min-content;
}
